html {
	font-size: 100%;
}

body {
	font-size: 1rem;
	line-height: 1.5;
}

h1 {
	font-size: 2rem;
}

small {
	font-size: 0.875rem;
}

button,
input,
select,
textarea {
	font: inherit;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.tag {
	padding: 0px 5px;
}

.tag-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
