.show-container-grid {
	display: grid;
	width: 100%;
	max-width: 100rem;
	margin-inline: auto;
	gap: var(--grid-row-gap) var(--grid-column-gap);
	grid-template-columns: repeat(1, minmax(0, 0.9fr));

	padding-bottom: var(--container-grid-padding-bottom);
}

@media (min-width: 1023px) {
	.show-container-grid {
		max-width: none;
		margin-inline: 0;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
